<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Edit page title, author, description, and keywords for better SEO -->
  <title>Home</title>
  <meta name="author" content="" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <!-- <link rel="apple-touch-icon" href="/icon.png" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" /> -->
  <link rel="stylesheet" href="/style.css">
</head>

<body>